// Mixins
@mixin better_border() {
	border-radius: 5px;
	border: 2px solid #ddd;
}

// Main styles
* {
	background-color: black;
	color: white;
	font-family: sans-serif; 
}
.top {
	h1, h2, h3, h4 {
		margin: 5px 0;
	}
	h1 {

	}
	h2 {
		opacity: 0.9;
		margin: 4px 0;
	}
	h3 {
		opacity: 0.8;
		margin: 3px 0;
	}
	h4 {
		opacity: 0.7;
		margin: 2px 0;
	}
}
fieldset {
	@include better_border();
	legend {
		position: relative;
		top: -5px;
	}
}
form {
	#submit {
		@include better_border();
	}
}
.indent {
	margin-left: 10px;
}
.left-container, .right-container {
	width: 50%;
	float: left;
	.left, .right {
		padding: 10px;
	}
	.left {

	}
	.right {
		p.reason {
			&.true {
				color: #009000;
			}
			&.false {
				color: #900000;
			}
		}
	}
}
.bottom {
	clear: both;
}
.actual_bottom {
	margin-top: 10px;
	.shoutout {
		float: right;
	}
}