!!! 5
%html.no-js{lang: 'en'}
	%head
		%title SIFMDRN
		%link{rel: "stylesheet", href: "./css/main.css"}
		%script{type: "text/javascript", src: "./includes/jquery-1.11.3.min.js" }
		%script{type: "text/javascript", src: "./js/ForecastIOInterface.js" }
		%script{type: "text/javascript", src: "./js/ForecastAnalysis.js" }
		%script{type: "text/javascript", src: "./js/main.js" }
	%body
		.top
			%h1 Should I fly my drone right now?
			%h2 A weather-checking app
			%h3 because you live in a cave and cannot see the sky
			%h4 and you happen to know your exact geo-coordinates
		.left-container
			.left
				%form
					%fieldset
						%legend Tell me a little about you
						%label{for: "lat"} Latitude
						%input#lat{type: "number", name: "lat", placeholder: "Latitude", value: "40.8152996"}
						%br
						%label{for: "lng"} Longitude
						%input#lng{type: "number", name: "lng", placeholder: "Longitude", value: "-96.7010288"}
						%br
						%label{for: "waterproof"} Is your aircraft waterproof?
						%input#waterproof{name: "waterproof", type: "checkbox"}
						%br
						Is your aircraft 
						%span.fancy_label
							%label{for: "fixed_wing_aircraft_type"}fixed wing
						%input#fixed_wing_aircraft_type{type: "radio", name: "aircraft_type", value: "fixed"}
						or
						%span.fancy_label
							%label{for: "multi_rotor_aircraft_type"}multi-rotor?
						%input#multi_rotor_aircraft_type{type: "radio", name: "aircraft_type", value: "multi", checked: "true"}
						%br

						%button#submit{type: "submit", value: "Submit"} Submit

		.right-container
			.right
				%fieldset
					%legend Results
					%p.short_answer feed me data, then we'll talk
		.bottom 
			%fieldset.current_weather
				%legend Current Weather
				%p feed me data, then we'll talk
		.actual_bottom
			Want to see how I made this site? check it out 
			%a{href: "https://github.com/pklopping/ShouldIFlyMyDroneToday", target: "_blank"} on github!